.head-title {
  font-size: 3.5rem;
  text-align: center;
  margin: 6rem 0 2rem 0;
}

.shopping-items {
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 2rem;
  width: 87%;
  margin: auto;
  justify-content: center;
}

.s-image {
  width: 90%;
  margin: 0.5rem;
  border-radius: 5%;
  overflow: clip;
  max-height: 18rem;
}

.s-image img {
  object-fit: contain;
  width: 100%;
}

.item-card {
  border-radius: 5%;
  line-height: 0;
  background: #2556ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
